<h2>Demonstration of Built-in directives and data binding</h2>
 <h3>Products List</h3>
<table border="1">
 
	<tr>
		<th>
			Product Name
		</th>
		<th>
		Quantity
		</th>
	</tr>

	<tr *ngFor="let row of rows">
    <td>{{row.name}}</td>
    <td>{{row.qty}}</td>
    
  </tr>
</table>

<br>
<br>
<br>
<div>
  <label>Enter Product Name</label>
  <input type="text" [formControl]="productName">
   <label>Enter Quantity</label>
   <input type="number" [formControl]="quantity">

  
  <button (click)="updateData()">Add Product</button>
</div>
